
<md-card>
<md-card-content>
<table class="data-table data-table--has-primary data-table--has-secondary">
<thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Workspace</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="5" class="divider divider--dark"></td>
            </tr>
</thead>
   <tbody>
   <tr class="data-table__clickable-row" ng-repeat="(userID, userInfo) in users.users">
<td>
  <span>  {{userInfo.id}} </span>
</td>

<td>
  <span>  {{userInfo.username}} </span>
</td>
<td>
  <span>  {{userInfo.roles}} </span>
</td>
<td>
  <span>  {{userInfo.workspace}} </span>
</td>
<td>
   <lx-dropdown position="left" from-top>
     <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
         <i class="mdi mdi-dots-vertical"></i>
       </button>

       <lx-dropdown-menu>
         <ul>
            <li><a class="dropdown-link">Edit User</a></li>
            <li><a class="dropdown-link">Delete User</a></li>
          </ul>
                  </lx-dropdown-menu>
         </lx-dropdown>
</td>
 </tr>
  
     </tbody>

    </table>
   

<md-divider> </md-divider>
<br>
<div flex-container="row"><button class="btn btn--l btn--green btn--fab" lx-ripple><i class="mdi mdi-plus"></i></button></div>
</md-card-content>
</md-card>
