<lx-dialog class="dialog dialog--l" id="addUserDialog" >
    <div class="dialog__header">
        <div class="toolbar bgc-green-500">
            <span class="toolbar__label tc-white fs-title">
                Enter user information to add
            </span>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
                    <i class="mdi mdi-close"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="dialog__content">

         <div class="p++">
      
            <lx-text-field label="Username" >
                <input type="text" ng-model="newUser.username">
            </lx-text-field>

            <lx-text-field label="Password" >
                <input type="password" ng-model="newUser.password">
            </lx-text-field>

            <lx-text-field label="Confirm Password" valid="newUser.password === confPassword" error="createUser.password !== confPassword">
                <input type="password" ng-model="confPassword" >
            </lx-text-field>

 <div class="checkbox" ng-repeat="role in newuserRoles" >
    <input type="checkbox" id="{{role.id}}" class="checkbox__input" ng-model="role.selected">
    <label for="{{role.id}}" class="checkbox__label">{{role.name}}</label>
</div>
            </div>
          
    </div>
    <div class="dialog__actions">
        <button class="btn btn--m  btn--green btn--raised" ng-click="addUser(newUser)"   lx-dialog-close lx-ripple>Create User</button>
  </div>

</lx-dialog>

<lx-dialog class="dialog dialog--l" id="deleteUserDialog" >
    <div class="dialog__header">
        <div class="toolbar bgc-red-500">
            <span class="toolbar__label tc-white fs-title">
                Delete {{userToDelete}} ?
            </span>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close>
                    <i class="mdi mdi-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="dialog__content">
         <div class="p++">
    
        <div class="checkbox">
      <input type="checkbox" id="confirmDelete" class="checkbox__input" ng-model="deleteuserConfirm">
      <label for="confirmDelete" class="checkbox__label">You Sure?</label>
    
    </div>
        </div>       
    </div>

    <div class="dialog__actions">
        <button ng-if="deleteuserConfirm" class="btn btn--m btn--red btn--raised" lx-dialog-close ng-click="deleteUser(userToDelete)" lx-ripple >Remove</button>
  </div>

</lx-dialog>

<md-card>
<md-card-content>
<table class="data-table data-table--has-primary data-table--has-secondary">
<thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Workspace</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="5" class="divider divider--dark"></td>
            </tr>
</thead>
   <tbody>
   <tr class="data-table__clickable-row" ng-repeat="(userID, userInfo) in users.users" id="{{userInfo.username}}">
<td>
  <span>  {{userInfo.id}} </span>
</td>

<td>
  <span>  {{userInfo.username}} </span>
</td>
<td>
  <span ng-repeat="role in userInfo.roles"> <span ng-if="$odd">,</span> {{role}} </span>
</td>
<td>
  <span>  {{userInfo.workspace}} </span>
</td>
<td>
  <button uid="{{userInfo.username}}" class="btn btn--l btn--black btn--icon" ng-click="openDelDialog('deleteUserDialog', $event)" lx-ripple> <i class="mdi mdi-close-circle"></i> </button>
</td>
 </tr>
  
     </tbody>

    </table>
<div class="card__actions" >
<div layout="row" layout-align="start center"> <button class="btn btn--l btn--green btn--fab" ng-click="openAddDialog('addUserDialog')" lx-ripple> <i class="mdi mdi-plus"></i> </button> </div>
</div>
</md-card-content>
</md-card>




