<div flex-container="row" flex-align="center"  flex-gutter="24" >

<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Enumeration</strong>
   
   <div class="paragraph fs-body-1 mt+"> 
<div flex-item >
        <lx-select ng-model="selects.Exploit" placeholder="Exploits" choices="exploitsList.exploits" min-length="7" floating-label>
            <lx-select-selected>
                {{ $selected.name }} 
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.name  }}
            </lx-select-choices>
        </lx-select>
    </div>
  
</div>
</div>
</div>
</div>

<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Exploits</strong>       
   <div class="paragraph fs-body-1 mt+"> 




</div>
</div>
</div>
</div>


<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Post</strong>
  
   <div class="paragraph fs-body-1 mt+"> 

       <div flex-item>
        <lx-select ng-model="ajax.selected" change="cbSelect.exec(newValue, oldValue)" placeholder="Lorem Ipsum"
                   choices="ajax.list"  filter="ajax.update(newValue, oldValue)" loading="{{ ajax.loading }}"
                   min-length="2" allow-clear="true" selection-to-model="ajax.toModel(data, callback)"
                   model-to-selection="ajax.toSelection(data, callback)">
            <lx-select-selected>
                {{ $selected.Title }} ({{ $selected.Year }})
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.Title }} - {{ $choice.Type }}
            </lx-select-choices>
        </lx-select>

        <button class="btn btn--m btn--blue btn--raised mt" ng-click="ajax.selected = 'Inception'" lx-ripple>Set to 'Inception'</button>
    </div>




    </div>

</div>
</div>
</div>
</div>


</div>

