
<div id="globalSeach" ng-controller="DashController as DashCtrl">
<div flex-container="row" flex-align="center" >
<div flex-item="5">

 
<md-content style="height: 500px;"  class="md-padding" layout="column">
<md-whiteframe style="padding: 24px;" class="md-whiteframe-z1" flex>


  <md-autocomplete
        md-no-cache="true"
        md-min-length="0"
        md-selected-item="DashCtrl.selectedItem"
        md-search-text="DashCtrl.searchText"
        md-items="item in DashCtrl.querySearch(DashCtrl.searchText)"
        md-item-text="item.name + ' - ' + item.type + ' - ' + item.platform"
        placeholder="Global search">
      <span md-highlight-text="DashCtrl.searchText" >{{item.name}} - {{item.type}} - {{item.platform}}</span>
    </md-autocomplete>
 


 
</md-whiteframe>


</md-content>



  </div>
  </div>
  </div>