
<div id="globalSeach" ng-controller="DashController as DashCtrl">
<div flex-container="row" flex-align="center" >
<div flex-item="5">

 
<md-content style="height: 500px;"  class="md-padding" layout="column">
<md-whiteframe style="padding: 24px;" class="md-whiteframe-z1" flex>


  <md-autocomplete
        md-no-cache="true"
        md-min-length="0"
        md-selected-item="DashCtrl.selectedItem"
        md-search-text="DashCtrl.searchText"
        md-items="item in DashCtrl.querySearch(DashCtrl.searchText)"
        md-item-text="item.name + ' - ' + item.type + ' - ' + item.platform"
        placeholder="Global search">
      <span md-highlight-text="DashCtrl.searchText" >{{item.name}} - {{item.type}} - {{item.platform}}</span>
    </md-autocomplete>
 

<lx-select ng-model="DashCtrl.searchAll.selected" change="DashCtrl.cbSelect.exec(newValue, oldValue)" placeholder="Lorem Ipsum"
                   choices="DashCtrl.searchAll.results"  filter="DashCtrl.searchAll.query(newValue, oldValue)" loading="{{ DashCtrl.searchAll.loading }}"
                   min-length="2" allow-clear="true" selection-to-model="DashCtrl.searchAll.toModel(data, callback)"
                   model-to-selection="DashCtrl.searchAll.toSelection(data, callback)">
            <lx-select-selected>
                {{ $selected.name}} ({{ $selected.platform }})
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.name}} - {{ $choice.type }}
            </lx-select-choices>
</lx-select>



 
</md-whiteframe>


</md-content>



  </div>
  </div>
  </div>