<div flex-container="row" flex-align="center"  flex-gutter="24" >

<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Enumeration</strong>
   
   <div class="paragraph fs-body-1 mt+"> 
<div layout="row" layout-align="end center">
 	<lx-search-filter model="searchFilter.first" position="right" closed placeholder="Search"></lx-search-filter>
 </div>
  

  

</div>
</div>
</div>
</div>

<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Exploits</strong>       
   <div class="paragraph fs-body-1 mt+"> 
<div layout="row" layout-align="end center">
	<lx-search-filter model="searchFilter.second" position="right" closed placeholder="Search"></lx-search-filter>
 </div>



</div>
</div>
</div>
</div>


<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Post</strong>
  
   <div class="paragraph fs-body-1 mt+"> 
   <div layout="row" layout-align="end center">
	<lx-search-filter model="searchFilter.third" position="right" closed placeholder="Search"></lx-search-filter>
	</div>

</div>
</div>
</div>
</div>


</div>

