<div flex-container="row" flex-align="center"  flex-gutter="24" >

<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Enumeration</strong>
   
   <div class="paragraph fs-body-1 mt+"> 
<div flex-item>
        <lx-select ng-model="selects.selectedExploit" placeholder="Exploit" choices="exploitList" floating-label>
            <lx-select-selected>
                {{ $selected.exploitList }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.exploitList[$index] }}
            </lx-select-choices>
        </lx-select>
    </div>
  
</div>
</div>
</div>
</div>

<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Exploits</strong>       
   <div class="paragraph fs-body-1 mt+"> 

<div flex-item>
        <lx-select ng-model="selects.selectedPerson" placeholder="Lorem Ipsum" choices="people" floating-label>
            <lx-select-selected>
                {{ $selected.name }} - {{ $selected.age }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.email }}
            </lx-select-choices>
        </lx-select>
    </div>



</div>
</div>
</div>
</div>


<div flex-item="3" >
 <div class="card"  >
 <div class="p+">
 <strong class="fs-headline display-block"> Post</strong>
  
   <div class="paragraph fs-body-1 mt+"> 
   
   <div flex-item>
        <lx-select ng-model="selects.selectedPerson" placeholder="Lorem Ipsum" choices="people" floating-label>
            <lx-select-selected>
                {{ $selected.name }} - {{ $selected.age }}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.email }}
            </lx-select-choices>
        </lx-select>
    </div>

</div>
</div>
</div>
</div>


</div>

