<div flex-container="row" flex-align="center" >
<div flex-item="5">

        <div class="card">
     <form name="Loginform" ng-submit="LgnCtrl.login(credentials)" role="form">  
        
            <div class="p+">
                <strong class="fs-headline display-block">Please Login</strong>
                <div class="paragraph fs-body-1 mt+"> 
                                 
    <md-input-container>
        <label>Username</label>
        <input type="text" id="username" ng-model="credentials.username" required />
        <div ng-messages="Loginform.username.$error">
            <div ng-message="required">Username is required.</div>
         </div>
   
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="password" id="password"  ng-model="credentials.password" required />
        <div ng-messages="Loginform.password.$error">
            <div ng-message="required">Password is required.</div>
        </div>
    </md-input-container>
  
                </div>
            </div>
            <div class="card__actions">
             <button class="btn btn--m btn--green btn--raised" type="submit" ng-disabled="Loginform.$invalid" lx-ripple>Login</button>
     
            </div>
          </form>
        </div>
     

   
   </div>      
 </div>
