<div flex-container="row" flex-align="center" flex-gutter="24" >

<div flex-item="5">
 <div class="card">
 <div class="p+">
   <div class="paragraph fs-body-1 mt+">   
	<md-input-container >
        <label>Note</label>
        <textarea style="min-height: 150px;" ng-model="markdownInput" columns="1" >  

        </textarea>
         
   </md-input-container>
   <div class="fab ml">
        <button class="fab__primary btn btn--xl btn--indigo btn--fab" lx-ripple lx-tooltip="Options" tooltip-position="bottom">
            <i class="mdi mdi-dots-horizontal"></i>
            <i class="mdi mdi-folder"></i>
        
        </button>

        <div class="fab__actions fab__actions--right">
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Preview" ng-click="viewReport('mdPreview')" tooltip-position="bottom"><i class="mdi mdi-launch"></i></button>
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Delete" tooltip-position="bottom"><i class="mdi mdi-delete"></i></button>
            <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Update" tooltip-position="bottom"><i class="mdi mdi-package-up"></i></button>
        </div>
    </div>
   </div>

   

</div>
</div>
</div>


<lx-dialog class="dialog dialog--l" id="mdPreview" >
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
               Preview
            </span>
        </div>
    </div>

    <div class="dialog__content" flex>
        <div class="p++">
            <div btf-markdown="markdownInput">  </div>
         </div>
    </div>

    <div class="dialog__actions">
        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dialog-close>Close</button>
    </div>
    </lx-dialog>