<!DOCTYPE html>
<html ng-app="msfHub"  ng-controller="LayoutController as layoutCtrl" ng-cloak>  <!--intialize main angular module and primary controller -->

<head>
    <meta charset="utf-8" >
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{state.current.data.title}} </title> <!--get current state from state Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/static/bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/static/bower_components/jstree/dist/themes/default/style.min.css">
    <link rel="stylesheet" href="/static/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css">
    <link rel="stylesheet" href="/static/bower_components/mdi//css/materialdesignicons.css">
    <link rel="stylesheet" href="/static/css/msfHub.css">





</head>

<body > <!--body start -->


<md-content ng-if="currentUser.roles.indexOf('guest') == -1"> <!--check if user is logged in and show toolbar if they are -->
<md-toolbar layout="row" layout-align="space-between center" md-scroll-shrink>
   <h2 class="md-toolbar-tools" flex="33"> <a href="javaScript:void(0);" ui-sref="dashboard" lx-ripple="white"> <span> msfHub </span> </a> </h2>

    <div class="md-toolbar-tools" layout-align="end center" flex>        
            <lx-dropdown position="right" from-top>
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li ng-if="currentUser.roles.indexOf('admin') != -1"> <a ui-sref="admin.users" class="dropdown-link">Edit Users</a></li>
                       <li><a  ui-sref="profile"  class="dropdown-link">Profile </a></li>
                        <li><a a href="javaScript:void(0);" ng-click="layoutCtrl.toggleLeft()"class="dropdown-link">Modules</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                        <li><a ui-sref="reports" class="dropdown-link">Reports</a></li>
                        <li><a ng-click="layoutCtrl.logout()" class="dropdown-link">Logout</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
   
  </md-toolbar>
  </md-content> <!--toolbar ng-if end -->


<!--session token expiry dialog start- -->
<lx-dialog class="dialog dialog--l" id="loginDialog">
    <div class="dialog__header">
        <div class="toolbar bgc-red-300 pl++">
            <span class="toolbar__label tc-white fs-title">
                Your token has expired, please re-login
            </span>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close><i class="mdi mdi-close"></i></button>
            </div>
        </div>
    </div>
    <div class="dialog__content">
         <div class="p++">
                <form name="sessionForm" ng-submit="layoutCtrl.renewSession(credentials)" role="form">    
                    <div class="p+">
                        <strong class="fs-headline display-block">Please Login</strong>
                        <div class="paragraph fs-body-1 mt+">       
                            <md-input-container>
                                <label>Username</label>
                                <input type="text" id="username" ng-model="credentials.username" required />
                                <div ng-messages="sessionForm.username.$error">
                                    <div ng-message="required">Username is required.</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container>
                                <label>Password</label>
                                <input type="password" id="password"  ng-model="credentials.password" required />
                                <div ng-messages="sessionForm.password.$error">
                                    <div ng-message="required">Password is required.</div>
                                </div>
                            </md-input-container>
  
                        </div>
                        </div>
                        <div class="dialog__actions">
                            <button class="btn btn--m btn--green btn--raised" type="submit" ng-disabled="sessionForm.$invalid" lx-ripple lx-dialog-close>Login</button>
                        </div>
                </form>
        </div>       
    </div>
</lx-dialog>
<!--session token expiry dialog end--> 


<!--side panel--> 
  <section layout="column" ng-controller="ModulePanelController" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Modules</h1>
      </md-toolbar>
      <md-content class="md-padding">
      <button class="btn btn--m btn--blue btn--raised" ng-click="treeInstanceDemo()" lx-ripple>Button</button>

    <div js-tree="treeConfig" ng-model="treeData" tree-events="ready:readyCB"  tree="treeInstance"></div>
       


      </md-content>
    </md-sidenav>
  </section>
<!--side panel end --> 



<section>
<div class="anim-in-out anim-fade" data-anim-speed="500"  ui-view>
<!--main body content goes here-->
</div>
</section>

<section ng-if="currentUser.roles.indexOf('guest') == -1">
 <md-toolbar style="font-size: 15px; position:absolute;bottom: 0px;padding: 10px;" layout="row" layout-align="space-between center" >

<div flex="50"></div>
<div flex><p style="text-align:right;"> Source available on <strong> <a ng-href="https://github.com/harmon25/msfHub"  style="color: rgba(255,255,255,0.87);text-decoration: none;" lx-ripple>GitHub</a> </strong></p></div>


 </md-toolbar>

</section>

<!--library dependencies-->
<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/velocity/velocity.js"></script>
<script src="/static/bower_components/moment/min/moment-with-locales.js"></script>
<!--angularJS and modules-->
<script src="/static/bower_components/angular/angular.js"> </script>
<script src="/static/bower_components/lumx/dist/lumx.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"> </script>
<script src="/static/bower_components/angular-jwt/dist/angular-jwt.min.js"> </script>
<script src="/static/bower_components/angular-local-storage/dist/angular-local-storage.min.js"> </script>
<script src="/static/bower_components/angular-resource/angular-resource.min.js"> </script>
<script src="/static/bower_components/angular-animate/angular-animate.min.js"> </script>
<script src="/static/bower_components/angular-aria/angular-aria.min.js"> </script>
<script src="/static/bower_components/angular-material/angular-material.js"> </script>
<script src="/static/bower_components/angular-sanitize/angular-sanitize.min.js"> </script>
<script src="/static/bower_components/showdown/compressed/Showdown.min.js"> </script>
<script src="/static/bower_components/angular-markdown-directive/markdown.js"> </script>
<script src="/static/bower_components/jstree/dist/jstree.js"> </script>
<script src="/static/bower_components/ng-js-tree/dist/ngJsTree.js"> </script>
<script src="/static/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"> </script>

<!--msfHub app -->
<script src="/static/scripts/app.js"></script>
<!--msfHub modules -->
<script src="/static/modules/authentication/services.js"></script>
<script src="/static/modules/authentication/controllers.js"></script>
<script src="/static/modules/main/services.js"></script>
<script src="/static/modules/main/controllers.js"></script>

</body> <!--body end-->
</html> <!--main app and controller end-->