<!DOCTYPE html>
<html ng-app="msfHub"  ng-controller="LayoutController" ng-cloak>  <!--intialize main angular module and primary controller -->

<head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{state.current.data.title}} </title> <!--get current state from state Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/msfHub.css">
    <link rel="stylesheet" href="/static/bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/static/bower_components/mdi/materialdesignicons.css">
</head>

<body> <!--body start -->

<header class="header">
<div ng-if="currentUser.roles.indexOf('guest') == -1" >  <!--check if user is logged in and show toolbar if they are -->

<div class="menubar">
<div class="toolbar bgc-indigo-500 tc-white-1">

<div class="toolbar__left mr+++">
  <lx-dropdown>
    <button class="btn btn--l btn--white btn--icon" lx-ripple  lx-dropdown-toggle>
                <i class="mdi mdi-menu"></i>
            </button>
    <lx-dropdown-menu>
        <ul>
            <li ui-sref-active="active" class=""><a ui-sref="home" class="dropdown-link">Home</a></li>
            <li ui-sref-active="active" class=""><a ui-sref="about" class="dropdown-link">About</a></li>
            <li ui-sref-active="active" class=""><a ui-sref="reports" class="dropdown-link">Reports</a></li>
            <li class="dropdown-divider"></li>
            <li ui-sref-active="active" class=""><a ui-sref="hosts" class="dropdown-link">Hosts</a></li>
            <li ui-sref-active="active" class=""><a ui-sref="services" class="dropdown-link">Services</a></li>
        </ul>
    </lx-dropdown-menu>
</lx-dropdown>
</div>

<span class="toolbar__label fs-title"> msfHub</span>
<nav class="main-nav main-nav--lap-and-up" >     
    <ul>
        <li ng-if="currentUser.roles.indexOf('admin') != -1"> <a ui-sref="admin.users"  class="main-nav__link" lx-ripple="white">Edit Users</a></li>
        <li><a ui-sref="profile" class="main-nav__link" lx-ripple="white">Profile</a></li>
        <li><a ui-sref="login" class="main-nav__link" lx-ripple="white">Logout</a></li> 
    </ul>             
</nav>
<nav class="main-nav main-nav--palm" >     
    <lx-dropdown position="right" from-top>
        <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dropdown-toggle><i class="mdi mdi-dots-vertical"></i> </button>
        <lx-dropdown-menu>
            <ul>
                <li ng-if="currentUser.roles.indexOf('admin') != -1"> <a ui-sref="admin.users" class="dropdown-link">Edit Users</a></li>
                <li><a class="dropdown-link">Profile </a></li>
                <li class="dropdown-divider"></li>
                <li><a href="#/login" class="dropdown-link">Logout</a></li>
            </ul>
        </lx-dropdown-menu>
    </lx-dropdown>
</nav>
  
</div>
</div> 
</div> <!--toolbar ng-if end -->
</header>

<!--session token expiery dialog start- -->
<lx-dialog class="dialog dialog--l" id="loginDialog">
    <div class="dialog__header">
        <div class="toolbar bgc-red-300 pl++">
            <span class="toolbar__label tc-white fs-title">
                Your token has expired, please re-login
            </span>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple lx-dialog-close><i class="mdi mdi-close"></i></button>
            </div>
        </div>
    </div>
    <div class="dialog__content">
         <div class="p++">
                <form name="sessionForm" ng-submit="renewSession(credentials)" role="form">    
                    <div class="p+">
                        <strong class="fs-headline display-block">Please Login</strong>
                        <div class="paragraph fs-body-1 mt+">       
                            <md-input-container>
                                <label>Username</label>
                                <input type="text" id="username" ng-model="credentials.username" required />
                                <div ng-messages="sessionForm.username.$error">
                                    <div ng-message="required">Username is required.</div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container>
                                <label>Password</label>
                                <input type="password" id="password"  ng-model="credentials.password" required />
                                <div ng-messages="sessionForm.password.$error">
                                    <div ng-message="required">Password is required.</div>
                                </div>
                            </md-input-container>
  
                        </div>
                        </div>
                        <div class="dialog__actions">
                            <button class="btn btn--m btn--green btn--raised" type="submit" ng-disabled="sessionForm.$invalid" lx-ripple lx-dialog-close>Login</button>
                        </div>
                </form>
     
        </div>       
    </div>
</lx-dialog>
<!--session token expiery dialog end-->

<md-content class="md-padding" ui-view>
<!--main body content goes here-->
</md-content>

<!--library dependencies-->
<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/velocity/velocity.js"></script>
<script src="/static/bower_components/moment/min/moment-with-locales.js"></script>
<!--angularJS and modules-->
<script src="/static/bower_components/angular/angular.js"> </script>
<script src="/static/bower_components/lumx/dist/lumx.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"> </script>
<script src="/static/bower_components/angular-jwt/dist/angular-jwt.min.js"> </script>
<script src="/static/bower_components/angular-cookies/angular-cookies.min.js"> </script>
<script src="/static/bower_components/angular-local-storage/dist/angular-local-storage.min.js"> </script>
<script src="/static/bower_components/angular-resource/angular-resource.min.js"> </script>
<script src="/static/bower_components/angular-animate/angular-animate.min.js"> </script>
<script src="/static/bower_components/angular-aria/angular-aria.min.js"> </script>
<script src="/static/bower_components/angular-material/angular-material.js"> </script>
<script src="/static/bower_components/angular-sanitize/angular-sanitize.min.js"> </script>
<script src="/static/bower_components/showdown/compressed/Showdown.min.js"> </script>
<script src="/static/bower_components/angular-markdown-directive/markdown.js"> </script>
<!--msfHub app -->
<script src="/static/scripts/app.js"></script>
<!--msfHub modules -->
<script src="/static/modules/authentication/services.js"></script>
<script src="/static/modules/authentication/controllers.js"></script>
<script src="/static/modules/main/services.js"></script>
<script src="/static/modules/main/controllers.js"></script>

</body> <!--body end-->
</html> <!--main app and controller end-->