/* 
* @Author: harmoN
* @Date:   2015-02-13 01:17:37
* @Last Modified by:   harmoN
* @Last Modified time: 2015-02-15 15:07:19
*/
.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  position: absolute;
  width: 36px;
} 
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0; 
  position: absolute;
  width: 1px;
}

/* Using Data-URI converted from svg until <md-icon> becomes available 
https://github.com/google/material-design-icons
*/

.main-nav {
  float: right; }
  .main-nav ul li {
    float: left; }

@media screen and (max-width: 800px) {
  .main-nav--lap-and-up {
    display: none; } }

@media screen and (min-width: 799px) {
  .main-nav--palm {
    display: none; } }

.main-nav__link {
  display: block;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  line-height: 36px;
  text-decoration: none; }
 
  @media screen and (min-width: 481px) and (max-width: 1023px) {
    .main-nav__link {
      font-size: 14px;
      font-size: 0.875rem; } 


.bare-list,
.dropdown-menu ul,
.list,
.tabs__links,
.sidebar-menu ul,
.main-nav ul,
.colors {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-logo {
  float: left; }

.main-logo__link {
  display: block;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 24px;
  font-size: 1.5rem; }

